// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   18px ;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$yellow-color:		#EEE960;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
  .wrapper {
    padding-right: $spacing-unit / 2;

    padding-left: $spacing-unit / 2;
  }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;






a {
	
	color: $grey-color-dark;
	text-decoration: none;
	
	&:hover {
		border-bottom: 1px dotted black;
		text-decoration: none;
	}

}

.post {
	img {
		margin: auto;
	}
	a {
		border-bottom: 1px dotted black;

		&:hover {
			background-color: $yellow-color;
		}
	}
}


.site-footer {border-top:0;}

.site-footer {position: fixed; bottom:0;width: 100%; text-align: center;padding: 20px 0 0 0;.footer-col{margin-bottom: 0;}background:white;}

main.page-content {
	padding-bottom: 80px;}

.site-header  {border-bottom: 0;}

a.site-title {&:hover {border-bottom: 0;}font-weight:bold;font-size: 1.2em;}

body { /* replace with your selector */
	font-family: "Ennore Regular";
	font-weight: normal;
	font-style: normal;
}


sup {background: none;font-style: italic;letter-spacing: 1px;}

.post-content h2 {border-bottom: 0;}


iframe {margin: 50px 0;}

blockquote {color: black;border-left: 0;line-height: 1.2em;font-style: normal;padding:0 50px;}

p + blockquote {margin-top: 50px;}
blockquote + p {margin-top: 50px;}

hr {width: 10%;margin: 20px 0;}


.wrapper {max-width: 800px;}